// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$gray-blue: #6a78a9;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #979797;
$main-gray:#535353;
// $mute-gray: #979797;
$black: #222;