
<%= form_for([@post, @comment], remote: true) do |f| %>
  <div class="mb-2">
    <%= f.text_area(:body, :placeholder => "Add a Comment!", :class => 'form-control') %>
  </div>
  <div class="row px-3 pb-3">
      <div class="ml-auto">
        <%= f.submit("Comment", {:class => 'btn btn-outline-secondary'}) %>
      </div>
  </div>
<% end %>



<!-- <%= @user.email %> -->