<header class="main-header">
  <div class="">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h1 class="m-0"><%= link_to 'Borderline Basic', home_path, {:class => "title"}  %></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <div class="text-center sub-title ">
          <p class="m-0">The chronicles of a Borderline Basic B*tch</p>
        </div>
      </div>
    </div>
  </div>
</header>