<%= render "shared/banner" %>
<div class="row banner-padding">
  <div class="col">
    <div class="d-flex justify-content-around">
      <div class="home-posts">
        <% @posts.each do |post| %>
          <div class="individual-post mb-4 pb-5">
            <h3 class="post-title"><%= link_to post.title , post_path(post), {:class => 'header' } %></h3>
            <div class="post-text">
              <p><%= sanitize post.body %></p>
            </div>  
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

