// .bb-btn {
//   display: inline-block;
//   font-weight: 400;
//   color: #0E0000;
//   text-align: center;
//   vertical-align: middle;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   background-color: red;
//   border: 1px solid transparent;
//   padding: 0.375rem 0.75rem;
//   font-size: 1rem;
//   // font-family: ;
//   line-height: 1.5;
//   border-radius: 2px;
// }

.bb-btn{
  border-radius: 50px;
  border: 0px;
}

.bb-btn-comment {
  border-radius: 50px;
}
// *******************************************
.delete-account-btn {
  color: $light-gray !important;
}

.avatar-upload-btn:hover{
  opacity: 0.5;
  // background: red !important;
}

.btn-background {
  // background: red !important;
  border-radius: 50%;
}

.image-upload > input
{
   display: none;
}
.image-upload > label{
  cursor:pointer;
}

