.comment-card a{
  text-decoration: none !important;
  color: $main-gray;
  opacity: 0;
  font-size: 13.33px;
}

.dropdown-item{
  opacity: 1 !important;
}

.comment-card:hover a{
  text-decoration: none !important;
  opacity: .7;
  transition-duration: .3s;
}

.comment-title {
  font-family: $title-font;
  font-size: 40px;
  color:#222222;
}

.comment-user {
  // font-family: $title-font;
  // font-size: 20px;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color:#222222;
}

.comment-text{
  color: $main-gray;
  font-size: 13.33px;
  line-height: 180% !important;
}

.comment-card{
  background: white !important;
  padding: 10px 20px;
  // margin-top: 50px;
  border-radius: 3px;
  // box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.1);
}