.form-login {
  background: white;
  // font-family: serif !important;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    font-family: Cormorant Garamond !important;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
    // font-family: Cormorant Garamond !important;
  }
}

.fb-btn{
  color: #38539B;
  font-size: 14px;

  &:hover {
    text-decoration: none !important;
    color: #38539B;
  }
}

.small-form-actions {
  font-size: 12px;
}

.sign-up-action {
  font-size: 14px;
}

.alt-login-msg{
  color: $main-gray;
}

.form-check-label {
  vertical-align: middle !important;
}

